@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Overpass&display=swap");
body {
  text-align: center;
  font-family: "Overpass", sans-serif;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #24232c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chackWrapper {
  display: flex;
  column-gap: 24px;
  align-items: baseline;
}
.chackContainer {
  position: relative;
  height: 20px;
}
.checkbox {
  top: 4px;
  left: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background: black;
  margin-top: 4px;
}

.checkbox:checked + .custom-checkbox {
  background: green;
   border: none;
}
